home/.vim/dein/*
!home/.vim/dein/repos/
home/.vim/dein/repos/*
!home/.vim/dein/repos/github.com/
home/.vim/dein/repos/github.com/*
!home/.vim/dein/repos/github.com/Shougo/
home/.vim/dein/repos/github.com/Shougo/*
!home/.vim/dein/repos/github.com/Shougo/dein.vim

home/.vim/.netrwhist
